<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am an ambitious engineering student with a passion for mechatronics and sustainable energy. Throughout my years of schooling, I have developed strong problem solving skill and time management skills. Moreover, attending the University of Guelph has allowed me to gain valuable start up and leadership experience. I have demonstrated the skills necesarry to initiate and run both of Guelph's first Biotechnology and Sustainable energy clubs. As a self taught programmer, I am able to keep my computer skills sharp and up to date. I am adept in Microsoft Word, Excel and Powerpoint and capable of coding in C and HTML. In terms of CAD and System modeling, I have developed a mastery of SolidWorks and can model systems on MATLab and Simulink. </p>
</div><!--//summary-->
</section><!--//section-->
