<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am an ambitious engineering student with a passion for mechatronics and sustainable energy. Throughout my years of schooling, I have developed strong problem solving skill and time management skills. Moreover, attending the University of Guelph has allowed me to gain valuable start up and leadership experience. As a self taught computer programmer, I have developed strong computer and coding skills. In an age dominated by technology and computing, I am constantly looking for innovative ways to integrate computers into any given field. </p>
</div><!--//summary-->
</section><!--//section-->
