<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Student - Quality Inspector</h3>
                            <div class="time">May 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">DENSO Manufacturing, Guelph ON</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Currently working at an automotive parts manufacturer as a Quality Inspector. I work closely with engineers and machine technicians to ensure that products are free of defects and meet customer standards. I am constantly going above and beyond at DENSO by looking for ways to improve production rate and worker ergonmoics. My current project consists of working with my supervisor to implement a new training program to reduce machine downtime and increase production rate.</p>  
                       
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Head Lifeguard</h3>
                            <div class="time">June 2016 - September 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">PPL Aquatic, Fitness and Spa Inc, Mississauga ON</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked as a lifeguard for a various pools across the Mississauga and Brampton area. Job role consisted of organizing swimming events while maintaing safety and enforcing safety protocol. As a lifeguard I was trained in CPR and Standard First Aid and carried out emergency procedures in a high stress environment. In addition, I was also responsible for maintaining safe pool water levels; I conducted water tests frequently and adjusted pool chemicals as needed.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="Advanced Swim Instructor">UI Developer</h3>
                            <div class="time">June 2012 - September 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Town of Caledon, Caledon ON</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As an advanced swim instructor, I was responsible for teaching students of all ages and skills about water safety and how to swim. In addition, I also taught various lifesaving and leadership courses to aspiring lifeguards. Working as an instructor helped me develop key customer service skills and strong teamwork. These skills are valuable and applicable to any workplace. </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
