<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    
                <div class="item">
                    <span class="project-title">University of Guelph Formula SAE Team - Suspension System Design</a></span> - <span class="project-tagline">Worked with team to design suspension system for the racecar. Key roles included modelling suspension components on SolidWorks and conducting finite element analysis on parts to assess their behaviour under high stress.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">University of Guelph Hyperloop Team - Levitation System Design</a></span> - 
                    <span class="project-tagline">Worked on the university's first pod entry for Elon Musk's Hyperloop Competition. My tasks included working with other members of the team to design and develop an efficient air levitation system for the pod.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">University of Guelph Robotics Team - General Member</a></span> - <span class="project-tagline">General member of the Robotics team. Looking to learn how to implement machine learning into sumo bot competitions by researching TensorFlow.</span>
               
                </div><!--//item-->
            </section><!--//section-->
